body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.interestType .time-unit-button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.interestType:hover .time-unit-button:hover {
  background-color: #ddd;
}

.active {
  background-color: #45a049;
}
